.waves {
  position: absolute;
  width: 100%;
  height: 60%;
  max-height: 100%;
  bottom: -15%;
  z-index: -1;
}

/* Animation */

.parallax > use {
  animation: move-forever 40s cubic-bezier(0.75, 0.7, 0.35, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 30s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 50s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 70s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 90s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }

}
