.image{
  background-image: url('../../../public/assets/canvas2.jpg');
  width: 640px;
  height: 640px;
  background-size: cover;
  background-position: center;
  /* filter: brightness(0.6) contrast(0.99) hue-rotate(2deg) sepia(10%); */
}

.parent-canvas{
  position: relative;
  height: 640px;
}

.canvas1{
  position: absolute;
  top: 0;
  left: 0;
}

.canvas2{
  position: absolute;
  top: 0;
  left: 640px;
}

.button{
    left: 60px;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-left: 30px;
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }
  
  .button:hover {
    box-shadow: #222222 0 0 0 0.5px, rgba(255, 255, 255, 0.8) 0 0 0 0.5px;
    background-color: #6666;
    transition: box-shadow .1s;
  }
