.temp-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 650px;
}

.grid-container {
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: repeat(40, 16px);
  grid-template-rows: repeat(40, 16px);
  gap: 0;
  margin-left: -2px;
  margin-top: -1px;
  border: 1px solid black;
}

.grid {
  background: 'rgba(255, 255, 255, 0.2)';
}

button {
  margin: 2px;
}

.node {
  width: 16px;
  height: 16px;
  border: 1px solid #000;
}
.select {
  margin-top: 10px;
  display: inline-block;
  width: 200px;
}
.temp-space {
  margin-top: 100px;
  height: 300px;
}
