
.without-absolute {
  position: absolute;
  top: 100%;
  /* Add any styling for the third div */
}

.grid-container {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: repeat(40, 16px);
  grid-template-rows: repeat(40, 16px);
  border: 1px solid black;
}

.grid {
  background: 'rgba(255, 255, 255, 0.2)';
}

button {
  margin: 2px;
}

.node {
  width: 16px;
  height: 16px;
  border: 1px solid #000;
}
.select {
  margin-top: 10px;
  display: inline-block;
  width: 200px;
}
