.all{
  display: inline-block;
  max-width: 100%;
  overflow-wrap: break-word;
}



@media (max-width: 660px) {
  .all {
    transform: scale(0.8);
  }
}
@media (max-width: 560px) {
  .all {
    transform: scale(0.7);
  }
}
@media (max-width: 480px) {
  .all {
    transform: scale(0.6);
  }
}
@media (max-width: 430px) {
  .all {
    transform: scale(0.5);
  }
}
@media (max-width: 360px) {
  .all {
    transform: scale(0.4);
  }
}


.maps-temp{
  margin-top: 20px;
  position: absolute;
}
.image{
  background-image: url('../../../public/assets/canvas2.jpg');
  width: 640px;
  height: 640px;
  background-size: cover;
  background-position: center;
}

.toggle{
  position: relative;
}